*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto, sans-serif;
    font-size: 10pt;
    background-color: #f2f2f2;
    color: #555;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    color: #333;
}
h1{
    background: url('../images/icons/10-device-access-network-wifi-light.png') #33B5E5 no-repeat;
    background-size: auto 1.6em;
    background-position: left center;
    color: #FFF;
    font-size: 1.6em;
    width: 100%;
    padding: 0.5em 0em;
    text-indent: 2em;
}
h3{
    color: #777;
    border-bottom: 2px solid #33B5E5;
    font-size: 19px;
    padding: 2px;
    margin: 0 4%;
    font-weight: normal;
}
input[type=text]{
    background: none;
    border: 2px solid #33B5E5;
    border-left: none;
    border-top: none;
}
/* Custom */
p{
    color: #777;
    margin: 24px 16px;
}
#header-icon{
    float: left;
    margin: 1em;
}
#key-search{
    width: 75%;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 12pt;
}
#bssid{
    font-size: larger;
    font-weight: bold;
}
#ssid{
    margin-right: 6pt;
}
#search{
    width: 32px;
    height: 32px;
    margin-bottom: -8pt;
}
#results{
    text-align: center;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}
@-webkit-keyframes rotate {
    from{
        -webkit-transform:scale(1.4) rotate(0deg);
    }
    to{
        -webkit-transform:scale(1.4) rotate(360deg);
    }
}
#results #loading{
    opacity: 0.5s;
    margin-top: 30%;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
}
#results div{
    list-style-type: none;
    padding: 16px;
}
#results div img{
    width: 24px;
    height: 24px;
}
#results div span{
    margin: 0px auto;
}
#results div .remove{
    float: left;
}
#results div .copy{
    float: right;
}
#key-count{
    float: right;
    padding-right: 0.5em;
    font-weight: bold;
    font-size: 1.4em;
    display: none;
}
#export{
    float: right;
    height: 32px;
    width: 32px;
    margin-right: 3%;
    margin-top: -3pt;
    display: none;
}